.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.el-button {
  border-radius: 40px !important;
  width: 100px;
}

.button {
  margin: 10px 0;
}